@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

main section.first .card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 490px;
  width: 100%;
}
main section.first .card .texts {
  background-color: black;
  color: #ffffff;
  width: 50%;
  height: 490px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 173px 111px 173px 112px;
  gap: 21px;
}
main section.first .card .texts h2 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 4.17px;
  line-height: 48px;
}
main section.first .card .texts p {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  opacity: 0.6;
  width: 387px;
}
main section.first .card .image {
  width: 50%;
  height: 491px;
}
main section.second .name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 48px;
}
main section.second .name .mnth {
  margin-right: 32px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
}
main section.second .name .yr {
  margin-left: 32px;
  color: #000000;
  opacity: 0.6;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 25px;
}
main section.second .packs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 470px;
  gap: 30px;
}
main section.second .pack {
  width: 350px;
  height: 407px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  transition: all 500ms;
}
main section.second .pack:hover {
  background-color: black;
  height: 470px;
}
main section.second .pack:hover .btn {
  background-color: white;
  color: #000000;
}
main section.second .pack:hover h2 {
  color: #ffffff;
}
main section.second .pack:hover .inf {
  color: #ffffff;
  opacity: 0.6;
}
main section.second .pack:hover .price {
  color: #ffffff;
}
main section.second .pack:hover span {
  color: #ffffff;
  opacity: 0.6;
}
main section.second .pack h2 {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 25px;
}
main section.second .pack .inf {
  color: #000000;
  opacity: 0.6;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  text-align: center;
  padding: 0 40px;
  margin: 18px 0 40px 0;
}
main section.second .pack .price {
  color: #000000;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 4.17px;
}
main section.second .pack span {
  color: #000000;
  opacity: 0.6;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}
main section.second .pack .btn {
  width: 270px;
  height: 40px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  margin-top: 40px;
}

section.third h3 {
  text-align: center;
  margin-top: 160px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 4.17px;
}
section.third .nms {
  font-size: 12px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 2px;
}
section.third .box {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 56px;
}
section.third table {
  width: 100%;
  border-collapse: collapse;
}
section.third thead th {
  font-size: 14px;
  letter-spacing: 2px;
  padding: 20px;
  border-bottom: 1px solid #000000;
}
section.third .features {
  text-align: left;
}
section.third tbody td {
  padding: 20px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  letter-spacing: 1px;
}
section.third tbody td:first-child {
  text-align: left;
}
section.third tbody td:not(:first-child) {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}/*# sourceMappingURL=pricing.css.map */