@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  color: white;
}

main {
  width: 1439px;
  section.first {
    height: 650px;
    background-image: url(./images/Bitmap\(1\).png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

    div.text {
      width: 387px;
      height: 406px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding-left: 112px;

      h1 {
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 2px;
      }

      h2 {
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 4.17px;
      }

      div.date {
        display: flex;
        gap: 9px;
        margin-top: -8px;

        p.date {
          font-size: 13px;
          font-weight: 400;
          opacity: 0.75;
        }

        p.name {
          font-size: 13px;
          font-weight: 400;
        }
      }

      p.text {
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        opacity: 60%;
      }

      div.arrow {
        display: flex;
        gap: 16px;

        p {
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 2px;
        }
      }
    }
  }
  section.first:hover {
    background-image: url(./images/Bitmap\(1\).png);
  }

  section.second {
    display: flex;
    flex-wrap: wrap;
    width: 1440px;
    
    div.card {
      width: 360px;
      position: relative;

      div.card_text {
        height: 170px;
        position: absolute;
        z-index: 10;
        bottom: 0;
        margin: 0 40px;

        p {
          font-size: 13px;
          font-weight: 400;
        }
        h3 {
          font-size: 18px;
          font-weight: 700;
          padding: 4px 0;
        }
        div.line {
          width: 280px;
          border: 1px solid;
          border-color: rgba(255, 255, 255, 0.25);
          margin: 20px 0 16px;
        }

        div.card_arrow {
          display: flex;
          gap: 146px;

          p {
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 2px;
          }
        }
      }
    }
  }
}
